/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
/*
background: #EEEEEE;
background: #000000;
background: #FFFFFF99;
background: #ECECEC; */
:root {
    --color-title: #212121;
    --color-accent: #2196F3;
    --color-text: #757575;
    --color-light: #FFFFFF;
    --color-back-secondary: #2F303A;
    --color-back-btn: #F5F4FA;
    --color-logo: #000000;
    --color-footer-link: rgba(255, 255, 255, 0.6);
    --color-active-btn: #188CE8;
}

body {
    background-color: var(--color-light);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* Студія header */

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--color-accent);
}

.accent-logo {
    color: var(--color-logo);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.link {
    text-decoration: none;
}

.header-nav .current {
    color: var(--color-accent);
}

.link:hover,
.link:focus {
    color: var(--color-accent);
}

.tel-mail {
    color: var(--color-text);
}

/* Студія hero */

.hero {
    background-color: var(--color-back-secondary);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-light);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-light);
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
background: var(--color-active-btn);
}


/* Студія Наші переваги */

.benefits-subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--color-title);
}

.benefits-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--color-text);
}

/* Студія Наші переваги */

.sections-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--color-title);
}

/* Студія Чим ми займаємося */


/* Студія Наша команда */

.sections-our-pro {
    background-color: #F5F4FA;
}

.our-pro-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-title);
}

.our-pro-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--color-text);
}

/* Студія footer */

.footer {
    background-color: var(--color-back-secondary);
}

.footer-contacts {
    font-style: normal;
}

.accent-foot-logo {
    color: var(--color-light);
}

.footer-link-addr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-light);
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-footer-link);
}

/* Портфоліо Приклади робіт */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--color-title);
    background-color: var(--color-back-btn);
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
color: var(--color-light);
background-color: #2196F3;
}

.portf-link {
    text-decoration: none;
}

.portf-sutitle {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-title);
}

.portf-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-text);
}

